[tool.poetry]
name = "dummio"
version = "0.0.3"
description = "Easiest-possible IO for basic file types."
authors = ["Zach Kurtz <zkurtz@gmail.com>"]
readme = "README.md"
homepage = "https://github.com/zkurtz/dummio"

[project.urls]
Source = "https://github.com/zkurtz/dummio"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.dependencies]
python = "^3.10"

[tool.poetry.group.dev.dependencies]
ruff = "^0.6.3"
pyright = "^1.1.378"
pytest = "^8.3.2"
pre-commit = "^3.8.0"
build = "^1.2.1"
twine = "^5.1.1"

[tool.poetry.group.extras.dependencies]
pyyaml = "^6.0.2"

[tool.ruff]
line-length = 120

[tool.ruff.lint]
select = ["E", "F", "I"]
ignore = []

[tool.pyright]
include = ["dummio"]

[tool.pytest.ini_options]
testpaths = ["tests"]
